<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1>Book Notes</h1>
    <form action="/sort-by" method="POST">
        <label for="sorting">Sort by:</label>
        <select name="sorting" class="drop-down">
            <option style="display: none;"></option>
            <option value="title">Title</option>
            <option value="date_finished">Date Finished</option>
            <option value="rating">Rating</option>
        </select>
        <button type="submit">Go</button>
    </form>
    <div class="book-entry-container">
        <% bookData.forEach(book => { %>
            <div class="book-entry">
                <img class="book-cover-image" src="<%= book.imageLink %>">
                <h3 class="book-title"><%= book.title %></h3>
                <h4 class="book-author"><%= book.author %></h4>
                <p class="book-description"><%= book.description %></p>
            </div>
            <form class="home-page-buttons" method="GET">
                <input type="hidden" name="selectedBookId" value="<%=book.id%>">
                <button type="submit" formaction="/notes">Add New Note</button>
                <% const note = notesData.find(n => n.bookId == book.id)
                if (note) { %>
                    <button type="submit" formaction="/view">View Notes</button>
                    <button type="submit" formaction="/edit">Edit Notes</button>
                <% } %>
                <button type="submit" formaction="/delete-book">Delete Book</button>
            </form>
        <% }); %>
    </div>

    <form action="/new" method="GET">
        <button type="submit">Add Book</button>
    </form>

</body>
</html>
