<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1>Book Notes</h1>
    <div class="book-entry-container">
        <% bookData.forEach(book => { %>
            <div class="bookEntry">
                <img class="book-cover-image" src="<%= book.imageLink %>">
                <h3 class="book-title"><%= book.title %></h3>
                <h4 class="book-author"><%= book.author %></h4>
                <p class="book-description"><%= book.description %></p>
            </div>
            <form action="/notes" class="home-page-buttons" method="GET">
                <input type="hidden" name="selectedBookId" value="<%=book.id%>">
                <input type="submit" value="Add New Note">
                <% const note = notesData.find(n => n.bookId == book.id)
                if (note) { %>
                    <input type="submit" value="Edit Note" formaction="/edit">
                <% } %>
            </form>
        <% }); %>
    </div>

    <form action="/new" method="GET">
        <button type="submit">Add Book</button>
    </form>

</body>
</html>