<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Book</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1>New Book</h1>
    <form action="/add" method="POST">
        <label for="newBook">Enter the title of the book:</label>
        <input type="text" name="newBook" autocomplete="off" required>
        <button type="submit">Submit</button>
    </form>

    <% if (locals.bookInfos) { %>
        <% locals.bookInfos.forEach(book => { %>
            <button id="<%=book.id%>" class="book-cover-button" onclick="handler('<%=book.id%>', '<%=book.title%>', '<%=book.author%>', '<%=book.description%>')"><img src="<%=book.imageLink%>"></button>
        <% }); %>
    <% } %>
    <h2 class="title"></h2>
    <h3 class="author"></h3>
    <p class="description"></p>
    <form action="/select" method="POST">
        <input type="hidden" name="selectedBookId" id="hidden" value="">
        <button id="disabled" type="submit" hidden>Select</button>
    </form>

    <script>
        function handler(id, title, author, description) {
            document.getElementById("hidden").setAttribute("value", id);
            document.querySelector("h2").innerHTML = title;
            document.querySelector("h3").innerHTML = "By: " + author;
            document.querySelector("p").innerHTML = description;
            document.getElementById("disabled").removeAttribute("hidden");
        }
    </script>
</body>
</html>
